<div class="people-container"> 
    <% @people.each do |person|%>
    <div class="person-tile">
        <a href="/people/<%= person.id %>">
        <img class="person-img" src="<%= person.person_image_url %>" alt="">
        </a>
        </div>
        <% end %>
        </div>



