
<ul>
    <li>Character Name: <%= @person.name %></li>
    <li>Date of Birth: <%= @person.dob %></li>
    <li>Gender: <%= @person.gender %></li>
    <li>Skin: <%= @person.skin_color %></li>
    </ul>
