
<div class="planet-container"> 
    <% @planets.each do |planet|%>
    <div class="planet-tile">
        <a href="/planets/<%= planet.id %>">
        <img class="planet-img" src="<%= planet.planet_img %>" alt="">
        </a>
        </div>
        <% end %>
        </div>