<div class="index-container" >    
    <% @episodes.each do |episode|%>
        <div class="index-tile">
            <a  href="/episodes/<%= episode.id %>">
                <img class="index-img" src="<%= episode.image_url %>" alt="">
            </a>
        </div>
    <% end %>
</div>




  